
<h3>Comparte tus experiencias en el aula: </h3>

<a href="/experiencias/nueva" class="btn btn-primary big">Cuentanos tu experiencia</a>


<h3>Experiencias previas</h3>

<div id='wrapper' >
	<div id='columns'>
		<% @experiencias.each do | experiencia | %>
		<div class='pin'>
			<%= experiencia.tema %>
		</div>
		<% end %>	
	</div>
</div>