<div class="preamble" id="zen-preamble" role="article">
		<table border="1" style="width:500px">
		<h3>Creacion de Torneo</h3>
			<% form_for(@torneo, '/torneos/create') do |t| %> 
				<%= t.label :name %>
				<%= t.text_field :name %> <br>
				<%= t.submit "Crear", :class => 'button' %>
			<% end %>
		</table>
</div>

<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>

					<li>
						
					</li>	
					<li>
						
					</li>		
						
				</ul>
			</nav>
				
		</div>

	</div>
</aside>
