<div class="preamble" id="zen-preamble" role="article">
		<table border="1" style="width:500px">
		<h3>Listado de Torneos</h3>
			<tr>
			  <th>Torneos</th>
			</tr>
			<% @torneos.each do | torneo | %>
			<tr>
				<td>
				<%= torneo.name %>
				</td>
			</tr>
			<% end %>

		</table>
</div>

<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>

					<li>
						
					</li>	
					<li>
						
					</li>		
						
				</ul>
			</nav>
			
		</div>
	</div>
</aside>
