/* Elementos xhtml */
body{
	padding: 0;
	margin: 0;
	font-family: "MS Trebuchet", Verdana, Geneva, Arial, Helvetica, sans-serif;	
}



/*
body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}*/

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}



a:visited{
	color: #350000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h3{
	color: #F0FFFF;
	font-size: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	padding: 0 0 0 1px;
	background-image: url("negro.jpg");
	background-repeat: no-repeat;
	background-position: 0 0px;
}

p{
	margin: 10px 0 5px 0;
}

/* ---- divs ---- */
/* En orden de aparición en el codigo HTML */

.page-wrapper{

/*	position: relative;
	background-repeat: repeat-x;
	background-position: bottom;
	width: 740px;
	border: 1px solid #5F5F5F;
	border-bottom: 0;
	border-top: 100;
	margin: 0 auto;
	text-align: left;*/
}

header {
	padding: 0px 0 0 0px;
}

header h1{
	width: 740px;
	height: 200px;
	background-image: url("azulOscuro.jpg");
	margin-bottom: 0;
	margin-top: 0px;
}

header h2{
	width: 500px;
	height: 40px;
	margin-top: -22px;
	margin-bottom: 25px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

table,th,td
{
	border:1px solid black;
	border-collapse:collapse;
	padding: 5px;
	margin-bottom: -8px;
}

.summary{
	font-family: "MS Trebuchet", Verdana, Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
	margin-top: -40px;
	margin-bottom: 25px;
	line-height: 20px;
	font-size: 100%;
	text-align: center;
}

.summary p:last-child{
	position: relative;
	padding: 0px;
	background-color: #AF0000;
}

.preamble{
	margin-left: 220px;
	padding-right: 10px;
	font-size: 90%;
}

.exito{
	margin-left: 220px;
	padding-right: 10px;
	font-size: 90%;
}

.error{
	margin-left: 220px;
	padding-right: 10px;
	font-size: 90%;
}

.exito h3{
	color: #04B431;
	font-size: 100%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 3px;
	position: relative;
	padding: 0 0 0 1px;
	background-repeat: no-repeat;
	background-position: 0 0px;
}
.error h3{
	color: #FE2E2E;
	font-size: 100%;
	text-align: center;	
	margin-top: 0px;
	margin-bottom: 3px;
	position: relative;
	padding: 0 0 0 1px;
	background-repeat: no-repeat;
	background-position: 0 0px;
}

/* Columna izquierda */

.columnaIzquierda {
	position: absolute;
	left: 22px;
	top: 248px;
	width: 178px;
	font-size: 85%;
	line-height: 140%;
	background: #EFEFEF url("gris.jpg") top right repeat-y;
}

.columnaIzquierda h3{
	text-align: center;
	background: #af0000;
	margin: 0;
	padding: 5px 0 5px 0px;
	color: #fff;
	font-size: 100%;
	background-repeat: repeat-x;
	background-position: bottom;
}

.columnaIzquierda ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 20px 0px 20px 0px;
	background-repeat: repeat-x;
}

.columnaIzquierda li{
	padding-left: 0; 
	text-align: center;
	margin-bottom: 7px;	
	color: #818181;
}

.columnaIzquierda li a{
	display: inline;
	text-align: center;
	position: relative;
	color: #af0000;
}

.columnaIzquierda li a.ver-mas{
	color: #818181;
}

.columnaIzquierda table,th,td {
	position: relative;
}


/**/
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.app-title {
  text-align: left;
  float: left;
}

.profile {
  text-align: right;
  float: right;
  margin-top: 20px;
}

.search-box {
  float: right;  
}

h1 {
  font-size: 25px
}